# URL de tu proyecto en Supabase
# ¿Dónde encontrarlo?: Dashboard de Supabase -> Project Settings -> API -> Project URL
# Link: https://supabase.com/dashboard/project/_/settings/api
EXPO_PUBLIC_SUPABASE_URL=

# Clave pública anónima de Supabase (anon key)
# ¿Dónde encontrarla?: Dashboard de Supabase -> Project Settings -> API -> Project API keys -> "anon" y "public"
# Link: https://supabase.com/dashboard/project/_/settings/api
EXPO_PUBLIC_SUPABASE_ANON_KEY=

# Referencia o ID de tu proyecto en Supabase (Project Reference/ID)
# ¿Dónde encontrarla?: Dashboard de Supabase -> Project Settings -> General -> Reference ID
# También se corresponde con el subdominio de la URL de tu proyecto (ej: https://[PROJECT_REF].supabase.co)
# Link: https://supabase.com/dashboard/project/_/settings/general
PROJECT_REF=
